/* CSS */
body {
    background-color: #0A192F;
    color: white;
    font-size: 25px;
}

.button-27 {
    appearance: none;
    background-color: #355b98;
    border: 2px solid #355b98;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: inherit;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    margin-top: 0.5%;
    width: 50em;
}

.button-27:disabled {
    pointer-events: none;
}

.button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-27:active {
    box-shadow: none;
    transform: translateY(0);
}

#logo {
    width: 50em;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-direction: column;
    background: #172A46;
    border-radius: 25px;
    margin: 5px;
    font-weight: bold;
    max-width: min-content;
    padding-right: 40px;
    justify-content: flex-end;
}

.extended {
    display: flex;
    flex-direction: column;
    margin-bottom: -12%;
    z-index: 1;
}

ul {
    flex: auto;
}

.ul-extended {
    flex: auto;
    flex-direction: column;
}

.cardBtn {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.cardBtn-container {
    background: #33568a;
    border-radius: 25px;
    margin-right: -40px;
}

img {
    width: 225px;
    border-radius: 25px;
}

li {
    list-style: none;
}

a:link {
    color: #61f5d4;
}

/* visited link */
a:visited {
    color: #61f5d4;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorPage {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid rgba(0, 128, 0, 0);
    padding: 10px;
}